## **World Unemployment Rate**

In [1]:
# pip install html5lib

In [2]:
# Importing libraries
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import leafmap

In [3]:
# Loading data and reading
unemployment=pd.read_csv('https://raw.githubusercontent.com/abdullahkhanjaan/World-unemployment-Data-analysis/refs/heads/main/data.csv', delimiter=',')
world_geo=gpd.read_file('https://raw.githubusercontent.com/EBISYS/Mapping-Dam-Levels/refs/heads/master/world-countries.json')
unemployment

,Country Name,Country Code,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,7.80,7.84,7.85,7.84,7.83,7.84,7.86,7.81,...,6.56,6.45,6.41,6.49,6.61,6.71,6.73,6.91,7.56,8.11
1,Afghanistan,AFG,10.65,10.82,10.72,10.73,11.18,10.96,10.78,10.80,...,11.34,11.19,11.14,11.13,11.16,11.18,11.15,11.22,11.71,13.28
2,Africa Western and Central,AFW,4.42,4.53,4.55,4.54,4.53,4.57,4.60,4.66,...,4.64,4.41,4.69,4.63,5.57,6.02,6.04,6.06,6.77,6.84
3,Angola,AGO,4.21,4.21,4.23,4.16,4.11,4.10,4.09,4.07,...,7.35,7.37,7.37,7.39,7.41,7.41,7.42,7.42,8.33,8.53
4,Albania,ALB,10.31,30.01,25.26,20.84,14.61,13.93,16.88,20.05,...,13.38,15.87,18.05,17.19,15.42,13.62,12.30,11.47,13.33,11.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Samoa,WSM,2.10,2.38,2.63,3.04,3.19,3.47,3.90,4.18,...,8.75,8.67,8.72,8.50,8.31,8.58,8.69,8.41,9.15,9.84
231,"Yemen, Rep.",YEM,8.32,8.31,8.35,8.34,8.96,9.59,10.20,10.81,...,13.17,13.27,13.47,13.77,13.43,13.30,13.15,13.06,13.39,13.57
232,South Africa,ZAF,29.95,29.98,29.92,29.89,29.89,29.87,29.91,29.95,...,24.73,24.56,24.89,25.15,26.54,27.04,26.91,28.47,29.22,33.56
233,Zambia,ZMB,18.90,19.37,19.70,18.43,16.81,15.30,13.64,12.00,...,7.85,8.61,9.36,10.13,10.87,11.63,12.01,12.52,12.85,13.03
234,Zimbabwe,ZWE,4.94,4.99,4.97,4.96,5.63,6.25,6.93,6.46,...,5.15,4.98,4.77,4.78,4.79,4.78,4.80,4.83,5.35,5.17

In [4]:
world_geo

,id,name,geometry
0,AFG,Afghanistan,"POLYGON ((61.21082 35.65007, 62.23065 35.27066..."
1,AGO,Angola,"MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6..."
2,ALB,Albania,"POLYGON ((20.59025 41.8554, 20.46318 41.51509,..."
3,ARE,United Arab Emirates,"POLYGON ((51.57952 24.2455, 51.75744 24.29407,..."
4,ARG,Argentina,"MULTIPOLYGON (((-65.5 -55.2, -66.45 -55.25, -6..."
...,...,...,...
172,PSE,West Bank,"POLYGON ((35.54566 32.39399, 35.54525 31.7825,..."
173,YEM,Yemen,"POLYGON ((53.10857 16.65105, 52.38521 16.38241..."
174,ZAF,South Africa,"POLYGON ((31.521 -29.25739, 31.32556 -29.40198..."
175,ZMB,Zambia,"POLYGON ((32.75938 -9.2306, 33.23139 -9.67672,..."
176,ZWE,Zimbabwe,"POLYGON ((31.19141 -22.25151, 30.65986 -22.151..."

In [5]:
#extracting 2021 data
unemployment=unemployment[['Country Name','2021']]
unemployment

                    Country Name   2021
0    Africa Eastern and Southern   8.11
1                    Afghanistan  13.28
2     Africa Western and Central   6.84
3                         Angola   8.53
4                        Albania  11.82
..                           ...    ...
230                        Samoa   9.84
231                  Yemen, Rep.  13.57
232                 South Africa  33.56
233                       Zambia  13.03
234                     Zimbabwe   5.17

[235 rows x 2 columns]

In [26]:
#Replacing missing countries in the data
#replace names
replace_names={
    'Congo, Dem. Rep.':'Democratic Republic of the Congo',
    "Cote d'Ivoire": "Ivory Coast",
    'Yemen, Rep.':'Yemen',
    'Bahamas, The':'The Bahamas',
    'Iran, Islamic Rep.':'Iran',
    'North Macedonia': 'Macedonia',
    'Venezuela, RB':'Venezuela',
    "Korea, Dem. People's Rep.":"North Korea", 
    'United States':'United States of America',
    'Egypt, Arab Rep.':'Egypt',
    'Russian Federation':'Russia',
    'Kyrgyz Republic':'Kyrgyzstan',
    'Tanzania':'United Republic of Tanzania',
    'Eswatini':'Swaziland',
    'Serbia':'Republic of Serbia',
    'Gambia, The':'Gambia',
    'Lao PDR':'Laos',
    'Guinea-Bissau':'Guinea Bissau',
    'Korea, Rep.':'North Korea',
    'Syrian Arab Republic':'Syria',
    'West Bank and Gaza':'West Bank',
    'Brunei Darussalam':'Brunei',
    'Timor-Leste':'East Timor',
    'Korea, Rep.':'South Korea',
    'Congo, Rep.':'Republic of the Congo',
    'Slovak Republic':'Slovakia',
    'Turkiye':'Turkey'
    
    }
unemployment['Country Name']=unemployment['Country Name'].replace(replace_names)

In [27]:
# ensuring matching columns
world_geo=world_geo.rename(columns={'name':'Country Name'})


#Check data completeness in both df and geodataframe
missing_countries=set(world_geo['Country Name'])-set(unemployment['Country Name'])
for country in missing_countries:
    print(f'The country, {country} is not in the unemployment data')

The country, Falkland Islands is not in the unemployment data
The country, Taiwan is not in the unemployment data
The country, Antarctica is not in the unemployment data
The country, Greenland is not in the unemployment data
The country, Western Sahara is not in the unemployment data
The country, Northern Cyprus is not in the unemployment data
The country, French Southern and Antarctic Lands is not in the unemployment data
The country, Kosovo is not in the unemployment data
The country, Somaliland is not in the unemployment data

In [10]:
#Check data completeness in both df and geodataframe
missing_countries=set(unemployment['Country Name'])-set(world_geo['Country Name'])
for country in missing_countries:
    print(f'The country, {country} is not in the world_geo data')

The country, Guam is not in the world_geo data
The country, Barbados is not in the world_geo data
The country, Macao SAR, China is not in the world_geo data
The country, Small states is not in the world_geo data
The country, Euro area is not in the world_geo data
The country, Comoros is not in the world_geo data
The country, Early-demographic dividend is not in the world_geo data
The country, Late-demographic dividend is not in the world_geo data
The country, Sub-Saharan Africa (excluding high income) is not in the world_geo data
The country, East Asia & Pacific (IDA & IBRD countries) is not in the world_geo data
The country, Samoa is not in the world_geo data
The country, French Polynesia is not in the world_geo data
The country, Middle East & North Africa is not in the world_geo data
The country, IDA only is not in the world_geo data
The country, South Asia is not in the world_geo data
The country, Tonga is not in the world_geo data
The country, Maldives is not in the world_geo data
The country, Virgin Islands (U.S.) is not in the world_geo data
The country, Turkiye is not in the world_geo data
The country, Central Europe and the Baltics is not in the world_geo data
The country, World is not in the world_geo data
The country, St. Vincent and the Grenadines is not in the world_geo data
The country, Middle East & North Africa (excluding high income) is not in the world_geo data
The country, Africa Eastern and Southern is not in the world_geo data
The country, Low & middle income is not in the world_geo data
The country, Middle income is not in the world_geo data
The country, Pre-demographic dividend is not in the world_geo data
The country, IDA blend is not in the world_geo data
The country, Pacific island small states is not in the world_geo data
The country, Fragile and conflict affected situations is not in the world_geo data
The country, St. Lucia is not in the world_geo data
The country, Bahrain is not in the world_geo data
The country, Hong Kong SAR, China is not in the world_geo data
The country, Latin America & Caribbean (excluding high income) is not in the world_geo data
The country, Upper middle income is not in the world_geo data
The country, OECD members is not in the world_geo data
The country, Sub-Saharan Africa (IDA & IBRD countries) is not in the world_geo data
The country, Singapore is not in the world_geo data
The country, Latin America & Caribbean is not in the world_geo data
The country, IBRD only is not in the world_geo data
The country, Cabo Verde is not in the world_geo data
The country, East Asia & Pacific (excluding high income) is not in the world_geo data
The country, Sao Tome and Principe is not in the world_geo data
The country, Lower middle income is not in the world_geo data
The country, Mauritius is not in the world_geo data
The country, Africa Western and Central is not in the world_geo data
The country, Post-demographic dividend is not in the world_geo data
The country, East Asia & Pacific is not in the world_geo data
The country, IDA total is not in the world_geo data
The country, Europe & Central Asia (IDA & IBRD countries) is not in the world_geo data
The country, Sub-Saharan Africa is not in the world_geo data
The country, South Asia (IDA & IBRD) is not in the world_geo data
The country, Caribbean small states is not in the world_geo data
The country, Channel Islands is not in the world_geo data
The country, European Union is not in the world_geo data
The country, Latin America & the Caribbean (IDA & IBRD countries) is not in the world_geo data
The country, Least developed countries: UN classification is not in the world_geo data
The country, North America is not in the world_geo data
The country, Slovak Republic is not in the world_geo data
The country, Low income is not in the world_geo data
The country, IDA & IBRD total is not in the world_geo data
The country, High income is not in the world_geo data
The country, Europe & Central Asia (excluding high income) is not in the world_geo data
The country, Other small states is not in the world_geo data
The country, Middle East & North Africa (IDA & IBRD countries) is not in the world_geo data
The country, Europe & Central Asia is not in the world_geo data
The country, Heavily indebted poor countries (HIPC) is not in the world_geo data
The country, Arab World is not in the world_geo data
The country, Malta is not in the world_geo data

In [28]:
# merging the two datasets
unemployment_data=world_geo.merge(unemployment, on='Country Name')
unemployment_data

,id,Country Name,geometry,2021
0,AFG,Afghanistan,"POLYGON ((61.21082 35.65007, 62.23065 35.27066...",13.28
1,AGO,Angola,"MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6...",8.53
2,ALB,Albania,"POLYGON ((20.59025 41.8554, 20.46318 41.51509,...",11.82
3,ARE,United Arab Emirates,"POLYGON ((51.57952 24.2455, 51.75744 24.29407,...",3.36
4,ARG,Argentina,"MULTIPOLYGON (((-65.5 -55.2, -66.45 -55.25, -6...",10.90
...,...,...,...,...
163,PSE,West Bank,"POLYGON ((35.54566 32.39399, 35.54525 31.7825,...",24.90
164,YEM,Yemen,"POLYGON ((53.10857 16.65105, 52.38521 16.38241...",13.57
165,ZAF,South Africa,"POLYGON ((31.521 -29.25739, 31.32556 -29.40198...",33.56
166,ZMB,Zambia,"POLYGON ((32.75938 -9.2306, 33.23139 -9.67672,...",13.03
167,ZWE,Zimbabwe,"POLYGON ((31.19141 -22.25151, 30.65986 -22.151...",5.17

In [33]:
#Visualize
m=leafmap.Map()
m.add_data(unemployment_data, 
            column='2021',
           layer_name='World Unemployment Rates',
           legend_title='unemployment Rate',
           cmap='Spectral_r',
           opacity=0.5
                     )


#export to html
m.to_html('unemployment_rate.html')

#visualize
m

Map(center=[20, 0], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zoom_out_text…